{% extends 'base.html.twig' %}

{% block title %}
	<h1 style="text-align:center">Liste des catégories</h1>
{% endblock %}

{% block body %}


	<ul>
		{% for category in categories %}
			<li>
				<a href="{{ path('app_category_name', {'name': category.name}) }}">{{ category.name }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
